:root {
    //fonts
    --font-family: "Montserrat", sans-serif;
    --second-family: "TradeGothic LT Extended", sans-serif;


    //colors
    --blackish-green: #121;
	--mint-green: #8dd3bb;
	--slamon: #ff8682;
	--neutrals: #fff;
}