.newsletter {
    &__inner {
        box-shadow: 0 4px 16px 0 rgba(17, 34, 17, 0.05);
        background: #cdeae1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        padding: 0px 24px;
        .newsletter-info {
            width: 590px;
            .newsletter__title {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 44px;
                line-height: 123%;
                color: var(--blackish-green);
                margin-bottom: 24px;
            }
            .newsletter__subtitle {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 20px;
                color: var(--blackish-green);
                opacity: 0.8;
                margin-bottom: 8px;
            }
            .newsletter__text {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                color: var(--blackish-green);
                opacity: 0.7;
            }
            .newsletter-form {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 16px;
            }
            .newsletter-form__input {
            }
            .newsletter-form__btn {
                
            }
        }
        
        .newsletter__img {
        }
    }
}

