//modules
@use './base/reset';
@use './base/vars';

//fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "TradeGothic LT Extended";   /*Can be any text*/
    src: url("../fonts/trade-gothic-lt-std-extended.otf") format("truetype");
}



body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    color: #000;
    font-style: normal;
    font-weight: 400;
}


.container {
    max-width: 1252px;
    padding: 0 10px;
    margin: 0 auto;
}

.section-title {
    font-weight: 600;
    font-size: 32px;
    color: #000;
    margin-bottom: 16px;
}

.section-link {
    display: block;
    border: 1px solid var(--mint-green);
    border-radius: 4px;
    padding: 8px 16px;
    width: fit-content;
    font-weight: 500;
    font-size: 14px;
    color: var(--blackish-green);
}
