.footer {
    background: var(--mint-green);
    padding-top: 218px;
    padding-bottom: 64px;
    .footer__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .footer-info {
            .footer-logo {
                margin-bottom: 24px;
            }
        }
        
        .footer-list {
            &__title {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 16px;
                color: var(--blackish-green);
                margin-bottom: 16px;
            }
            &__item {
                font-weight: 500;
                font-size: 14px;
                color: var(--blackish-green);
                opacity: 0.7;
                margin-bottom: 12px;
            }
        }
    }
}


