.user-history__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .user-history__img {

    }

    .user-history__date {
        display: flex;
        &-check {
            .user-history__date-title {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: var(--blackish-green);
                opacity: 0.75;
                margin-bottom: 8px;
            }

            .user-history__date-text {
                font-weight: 600;
                font-size: 20px;
                color: var(--blackish-green);
            }
        }
    }

    .user-history__details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 8px;
        .history-detail__item {
            display: flex;
            gap: 8px;
            &-title {
                font-weight: 600;
                font-size: 12px;
                color: var(--blackish-green);
                opacity: 0.6;
            }

            &-text {
                font-weight: 500;
                font-size: 16px;
                color: var(--blackish-green);
            }
        }
    }

    .user-history__btn {
        border-radius: 4px;
        padding: 8px 16px;
        background: var(--mint-green);
        font-weight: 500;
        font-size: 14px;
        color: var(--blackish-green);
    }
}