.account-page {
    &__header {
        margin-bottom: 32px;
        .account-page__user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-items: center;
            &-img {
                margin-bottom: 24px;
            }

            &-name {
                font-weight: 600;
                font-size: 24px;
                text-align: center;
                color: var(--blackish-green);
                margin-bottom: 8px;
            }

            &-mail {
                font-weight: 400;
                font-size: 16px;
                text-align: center;
                color: var(--blackish-green);
                opacity: 0.75;
            }
        }
    }

    &__info {
        .account-page__tabs {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .account-page__tab {
                font-weight: 600;
                font-size: 16px;
                color: var(--blackish-green);
                padding: 30px 24px;
            }
        }

        .account-page__content {
            .user-data {
                padding: 32px 24px;
                border-radius: 16px;
                box-shadow: 0 4px 16px 0 rgba(17, 34, 17, 0.05);
                background: var(--neutrals);
                &__item {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 32px;
                    &-title {
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--blackish-green);
                        opacity: 0.75;
                        margin-bottom: 8px;
                    }

                    &-text {
                        font-weight: 600;
                        font-size: 20px;
                        color: var(--blackish-green);
                    }

                    &-btn {
                        border: 1px solid var(--mint-green);
                        border-radius: 4px;
                        padding: 8px 16px;
                        font-family: var(--font-family);
                        font-weight: 500;
                        font-size: 14px;
                        color: var(--blackish-green);
                    }
                }
            }

            .user-history {
                &__tabs {
                    border-radius: 12px;
                    box-shadow: 0 4px 16px 0 rgba(17, 34, 17, 0.05);
                    background: var(--neutrals);
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    .user-history__tab {
                        padding: 28px 24px;
                        font-weight: 600;
                        font-size: 16px;
                        color: var(--blackish-green);
                    }
                }
            }
        }
    }
}